@using System.Globalization
@model ActorRankingModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv

@{
    ViewBag.Title = "Actor Ranking";
    Layout = "_Layout";
}

<div class="row justify-content-center py-3">
    <div class="col-3 text-center">
        <h5>Total movies</h5>
        <h2><strong>@Model.CountryInfo.MovieCount</strong></h2>
    </div>
    <div class="col-3 text-center">
        <h5>Total votes</h5>
        <h2><strong>@Model.CountryInfo.VoteCount</strong></h2>
    </div>
    <div class="col-3 text-center">
        <h5>Vote Average</h5>
        <h2><strong>@Model.CountryInfo.VoteAvg</strong></h2>
    </div>
    <div class="col-3 text-center align-middle">
        <h5>Country</h5>
        <h2><strong>@Model.CountryInfo.Name</strong></h2>
    </div>
    @*<div class="col-2 text-center align-middle">
        <a class="btn btn-block btn-outline-primary" asp-action="Detail" asp-route-countryCode="@Model.CountryInfo.Code">Back to Detail</a>
        <a class="btn btn-block btn-outline-danger" asp-action="ActorRanking" asp-route-countryCode="@Model.CountryInfo.Code">Actor Ranking</a>
    </div>*@
</div>
<hr/>
<div class="row">
    <div id="region-ranking" class="col-6 px-5 py-0">
        <h3 class="text-center my-4"><strong>Movie Ranking</strong></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="text-align: center"></th>
                <th scope="col" style="text-align: center">Ranking and Title</th>
                <th scope="col" style="text-align: center">Popularity</th>
                <th scope="col" style="text-align: center">Budget</th>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RegionData.Count; i++)
                {
                    var film = Model.RegionData[i];
                    <tr>
                        <td class="align-middle" align="center">
                            @{
                                var path = System.IO.Path.Combine(hostingEnv.WebRootPath, "images", $"{film.Id}.jpg");
                                if (System.IO.File.Exists(path))
                                {
                                    <img class="img-fluid" src="~/images/@(film.Id).jpg" width="80" height="120" alt="">
                                }
                                else
                                {
                                    <img class="img-fluid" src="~/noAvailablePoster.png" width="80" height="120" alt="">
                                }
                            }
                        </td>
                        <td class="align-middle"><strong>@(i+1).</strong> @film.Title</td>
                        <td class="align-middle" align="center">@film.Popularity</td>
                        <td class="align-middle" align="center">@film.Budget.ToString("C0", new CultureInfo("en-us"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="actor-ranking"  class="col-6 px-5 py-0 border-left">
        <h3 class="text-center my-4"><strong>Actor Ranking</strong></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="text-align: center">Ranking</th>
                <th scope="col" style="text-align: center">Name</th>
                <th scope="col" style="text-align: center">Point Vote</th>
                <th scope="col" style="text-align: center">Movies Count</th>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ActorData.Count; i++)
                {
                    var actor = Model.ActorData[i];
                    <tr>
                        <th scope="row" class="align-middle" style="text-align: center">@(i+1)</th>
                        <td class="align-middle">@actor.Name</td>
                        <td class="align-middle" align="center">@actor.PointVote</td>
                        <td class="align-middle" align="center">@actor.MovieCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>