@using System.Globalization
@using System.IO
@model MovieRankingModel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

@{
    ViewBag.Title = "Movie Ranking";
    Layout = "_Layout";
}

<div class="row justify-content-center py-3">
    <div class="col-3 text-center">
        <h5>Total movies</h5>
        <h2><strong>@Model.CountryInfo.MovieCount</strong></h2>
    </div>
    <div class="col-3 text-center">
        <h5>Total votes</h5>
        <h2><strong>@Model.CountryInfo.VoteCount</strong></h2>
    </div>
    <div class="col-3 text-center">
        <h5>Vote Average</h5>
        <h2><strong>@Model.CountryInfo.VoteAvg</strong></h2>
    </div>
    <div class="col-3 text-center align-middle">
        <h5>Country</h5>
        <h2><strong>@Model.CountryInfo.Name</strong></h2>
    </div>
    @*<div class="col-2 text-center align-middle">
        <a class="btn btn-block btn-outline-primary" asp-action="Detail" asp-route-countryCode="@Model.CountryInfo.Code">Back to Detail</a>
        <a class="btn btn-block btn-outline-danger" asp-action="ActorRanking" asp-route-countryCode="@Model.CountryInfo.Code">Actor Ranking</a>
    </div>*@
</div>
<hr/>
<div class="row">
    <div id="region-ranking" class="col-6 px-5 py-0">
        <h3 class="text-center my-4"><strong>@Model.CountryInfo.Name Ranking</strong></h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="text-align: center"></th>
                <th scope="col" style="text-align: center">Ranking & Title</th>
                <th scope="col" style="text-align: center">Avg. Vote</th>
                <th scope="col" style="text-align: center">Popularity</th>
                <th scope="col" style="text-align: center">Budget</th>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RegionData.Count; i++)
                {
                    var film = Model.RegionData[i];
                    var publishYear = DateTime.Parse(film.Date);
                    <tr>
                        <td class="align-middle" align="center">
                            @{
                                var path = System.IO.Path.Combine(hostingEnv.WebRootPath, "images", $"{film.Id}.jpg");
                                if (System.IO.File.Exists(path))
                                {
                                        <img class="img-fluid" src="~/images/@(film.Id).jpg" width="80" height="120" alt="">
                                }
                                else
                                {
                                        <img class="img-fluid" src="~/noAvailablePoster.png" width="80" height="120" alt="">
                                }
                            }
                        </td>
                        <td class="align-middle"><strong>@(i+1).</strong> @film.Title (@publishYear.Year)</td>
                        <td class="align-middle" align="center"><span class="fa fa-star" style="color: orange;"></span> @film.VoteAverage</td>
                        <td class="align-middle" align="center">@String.Format("{0:0.##}", film.Popularity)</td>
                        <td class="align-middle" align="right">@film.Budget.ToString("C0", new CultureInfo("en-us"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="all-ranking"  class="col-6 px-5 py-0 border-left">
        <h3 class="text-center my-4"><strong>World Ranking</strong></h3>
       <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="text-align: center"></th>
                <th scope="col" style="text-align: center">Ranking & Title</th>
                <th scope="col" style="text-align: center">Avg. Vote</th>
                <th scope="col" style="text-align: center">Popularity</th>
                <th scope="col" style="text-align: center">Budget</th>
            </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AllData.Count; i++)
                {
                    var film = Model.AllData[i];
                    var publishYear = DateTime.Parse(film.Date);
                    <tr>
                        <td class="align-middle" align="center">
                            @{
                                var path = System.IO.Path.Combine(hostingEnv.WebRootPath, "images", $"{film.Id}.jpg");
                                if (System.IO.File.Exists(path))
                                {
                                        <img class="img-fluid" src="~/images/@(film.Id).jpg" width="80" height="120" alt="">
                                }
                                else
                                {
                                        <img class="img-fluid" src="~/noAvailablePoster.png" width="80" height="120" alt="">
                                }
                            }
                        </td>
                        <td class="align-middle"><strong>@(i+1).</strong> @film.Title (@publishYear.Year)</td>
                        <td class="align-middle" align="center"><span class="fa fa-star" style="color: orange;"></span> @film.VoteAverage</td>
                        <td class="align-middle" align="center">@String.Format("{0:0.##}", film.Popularity)</td>
                        <td class="align-middle" align="right">@film.Budget.ToString("C0", new CultureInfo("en-us"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>